# For loops

Another way to repeat a task is to use a for loop. A for loop is a programming construct that allows you to repeat a task a certain number of times. The number of times is determined by the length of a sequence. For example:

In [1]:
list1 = [1, 2, 3, 4, 5]
for i in list1:
    print(i)

1
2
3
4
5

Notice that the for loop "loops" over the items in the list, one at a time. It is also possible to loop over a tuple, a set and a string:

In [2]:
tuple1 = (1, 2, 3, 4, 5)
for i in tuple1:
    print(i)

1
2
3
4
5

In [3]:
set1 = {1, 2, 3, 4, 5}
for i in set1:
    print(i)

1
2
3
4
5

In the case of a set, since the items are not in any particular order, the loop will simply iterate over all the items in an arbitrary order.

Let us now consider the case of a string:

In [5]:
str1 = "Data Science"

for i in str1:
    print(i)

D
a
t
a

S
c
i
e
n
c
e

The for loop goes over the string one character at a time.

When we loop over a dictionary, we get the keys:

In [7]:
dict1 = {"Montreal": 100, "Toronto": 200, "Vancouver": 300}
for i in dict1:
    print(i)

Montreal
Toronto
Vancouver

Notice that the <i>i</i> in the loop takes on the values of the keys in a dictionary. We can use the key to access the values:

In [8]:
dict1 = {"Montreal": 100, "Toronto": 200, "Vancouver": 300}
for i in dict1:
    print(f"The key is {i} and the value is {dict1[i]}")

The key is Montreal and the value is 100
The key is Toronto and the value is 200
The key is Vancouver and the value is 300